### Importación de datos

In [26]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
...,...,...,...,...,...,...,...,...,...,...,...,...
2354,Iphone 15,Electrónicos,1284400.0,66600.0,15/11/2021,Izabela de León,Medellín,1,Nequi,1,6.25184,-75.56359
2355,Impresora,Electrónicos,282800.0,15300.0,18/03/2023,Lucas Olivera,Bogotá,5,Nequi,1,4.60971,-74.08175
2356,Juego de mesa,Juguetes,122900.0,7200.0,06/07/2021,Lucas Olivera,Cali,5,Tarjeta de crédito,4,3.43722,-76.52250
2357,Cama box,Muebles,691300.0,35000.0,02/05/2022,Pedro Gomez,Pasto,1,Tarjeta de crédito,2,1.21361,-77.28111
2358,Smartwatch,Electrónicos,195000.0,8600.0,18/06/2022,Felipe Santos,Cali,4,Tarjeta de crédito,1,3.43722,-76.52250

# 1. Análisis de facturación

In [34]:
facturacion_tiendas = {} # crear un diccionario con la facturación de cada tienda para evaluarla frente a las otras posteriormente 

total_tienda_uno = tienda['Precio'].sum() # seleecionar la columna Precio y sumar los valores
facturacion_tiendas['Tienda 1'] = total_tienda_uno # guardar el resultado en el diccionario

total_tienda_dos = tienda2['Precio'].sum()
facturacion_tiendas['Tienda 2'] = total_tienda_dos

total_tienda_tres = tienda3['Precio'].sum()
facturacion_tiendas['Tienda 3'] = total_tienda_tres

total_tienda_cuatro = tienda4['Precio'].sum()
facturacion_tiendas['Tienda 4'] = total_tienda_cuatro

mayor_facturacion = max(facturacion_tiendas, key=facturacion_tiendas.get) # obtener la tienda con mayor facturación

print('Total de la facturación de las tiendas: \n')

for numero_tienda, facturacion in facturacion_tiendas.items(): # iterar sobre el diccionario
    print(f"Total {numero_tienda}: {facturacion:,.2f}") 

print(f'\nLa tienda con mayor facturación es: {mayor_facturacion} con un total de {facturacion_tiendas[mayor_facturacion]:,.2f}')

Total de la facturación de las tiendas:

Total Tienda 1: 1,150,880,400.00
Total Tienda 2: 1,116,343,500.00
Total Tienda 3: 1,098,019,600.00
Total Tienda 4: 1,038,375,700.00

La tienda con mayor facturación es: Tienda 1 con un total de 1,150,880,400.00

# 2. Ventas por categoría

In [ ]:
# En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.


productos_vendidos_tienda_uno = tienda.groupby('Categoría del Producto').size()
productos_vendidos_tienda_dos = tienda2.groupby('Categoría del Producto').size()
productos_vendidos_tienda_tres = tienda3.groupby('Categoría del Producto').size()
productos_vendidos_tienda_cuatro = tienda4.groupby('Categoría del Producto').size()

print(f'El total de productos vendidos por categoría en la tienda 1 es: {productos_vendidos_tienda_uno}')
print(f'El total de productos vendidos por categoría en la tienda 2 es: {productos_vendidos_tienda_dos}')
print(f'El total de productos vendidos por categoría en la tienda 3 es: {productos_vendidos_tienda_tres}')
print(f'El total de productos vendidos por categoría en la tienda 4 es: {productos_vendidos_tienda_cuatro}')

El total de productos vendidos por categoría en la tienda 1 es: Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
dtype: int64
El total de productos vendidos por categoría en la tienda 2 es: Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
dtype: int64
El total de productos vendidos por categoría en la tienda 3 es: Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
dtype: int64
El total de productos vendidos por categoría en la tienda 4 es: Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
dtype: int64

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda